<div class="auth-wrapper">
  <div class="auth-container">

    <!-- LEFT SIDE -->
    <div class="auth-left">
      <div class="left-content">
        <h2>Simplify management with our dashboard.</h2>
        <p>
          Simplify your e-commerce management with our
          user-friendly admin dashboard.
        </p>

        <img
          src="assets/images/login-illustration.jpg"
          alt="Illustration"
        />
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="auth-right">
      <div class="login-card">
        <h3>Welcome Back</h3>
        <p>Please login to your account</p>

        <form (ngSubmit)="onLogin()">

          <input
            type="email"
            placeholder="Email address"
            [(ngModel)]="user.email"
            name="email"
            required
          />

          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="user.password"
            name="password"
            required
          />

          <select
            [(ngModel)]="user.usertype"
            name="usertype"
            required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>

          <button type="submit">Login</button>

          <div class="register-text">
            Don’t have an account?
            <a routerLink="/register">Register</a>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
