<nav class="navbar navbar-default">
  <ul class="nav navbar-nav navbar-right">
    <button type="button" class="btn btn-primary btn-lg" (click)="shopMore()">
      shop More..
    </button>
  </ul>
</nav>

<h1 style="text-align:center">Cart</h1>

<div class="cart-item" *ngFor="let item of items; let i=index">
  <input type="radio"/>
  <h4>{{i+1}}</h4>

  <img [src]="item.image_url"
       style="height: 280px;width: 200px;"
       alt="image not found"
       class="img-rounded">

  <h4>{{item.pname}}</h4>
  <h5>{{item.description}}</h5>
  <h5>Price :</h5>&nbsp;<h6>${{item.price}}</h6>
</div>

<button type="button" class="btn btn-success btn-lg" (click)="buyNow()">
  Buy Now
</button>
