<!-- NAVBAR -->
<nav class="navbar navbar-default cart-navbar">
  <div class="container-fluid">
    <button type="button" class="btn btn-primary btn-lg" (click)="shopMore()">
      Shop More
    </button>
  </div>
</nav>

<h1 class="cart-title">My Cart</h1>

<!-- CART LIST -->
<div class="cart-container">

  <div class="cart-card" *ngFor="let item of items; let i=index">

    <div class="cart-card" *ngFor="let item of items; let i=index">

  <input
    type="checkbox"
    [(ngModel)]="item.selected"
    (change)="calculateTotal()"
  />

  <img
    [src]="item.product.image_url"
    alt="image not found"
    class="cart-img"
  >

  <div class="cart-details">
    <h4>{{ item.product.pname }}</h4>
    <p>{{ item.product.description }}</p>
    <div class="cart-price">
      ₹{{ item.product.price }}
    </div>
  </div>

    </div>

  </div>

</div>
<div class="cart-total">
  <h3>Total Amount: ₹{{ totalAmount }}</h3>
</div>

<!-- BUY BUTTON -->
<div class="cart-footer">
  <button type="button" class="btn btn-success btn-lg" (click)="buyNow()">
    Buy Now
  </button>
</div>
