<!-- PAGE TITLE -->
<div class="shop-title"><h1>WELCOME TO SHOPPING</h1></div>

<!-- NAVBAR -->
<nav class="shop-navbar">
  <a href="">  <img
    src="assets/images/urban_logo.png"
    class="shop-logo"
    alt="Urban Ladder"

  /></a>

  <div class="nav-actions">
  <button class="btn-signup" (click)="show1()">Sign Up</button>
  <button class="btn-login" (click)="show2()">Login</button>
</div>

</nav>

<!-- HERO CAROUSEL -->
<div class="hero-carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/images/sale-1.jpg" />
      </div>
      <div class="item">
        <img src="assets/images/sale-2.jpg" />
      </div>
      <div class="item">
        <img src="assets/images/sale-5.jpg" />
      </div>
    </div>
  </div>
</div>

<!-- CATEGORY SECTION -->
<section class="life-section">
  <h2>Furniture For Every Life Stage</h2>

  <div class="life-grid">
    <img src="assets/images/bachelor.jpg" />
    <img src="assets/images/couples.jpg" />
    <img src="assets/images/familes.jpg" />
  </div>
</section>

<!-- PRODUCTS -->
<section class="product-section" *ngFor="let section of productSections">
  <h2 class="section-heading">{{ section.title }}</h2>

  <div class="product-grid">
    <div class="product-card" *ngFor="let item of section.items">

      <img [src]="item.image" />

      <h4>{{ item.name }}</h4>

      <ul class="desc">
        <li *ngFor="let d of item.desc">{{ d }}</li>
      </ul>

      <div class="price-row">
       <span class="price">₹{{ item.price }}</span>
       <button (click)="buyNow()">Buy Now</button>
      </div>

    </div>
  </div>
</section>
